<?xml version="1.0"?>
<launch>
  <!-- load gazebo simulation environment and robot controller action server-->
  <include file="$(find gauss_gazebo)/launch/gauss_gazebo.launch"/>

  <!-- configuration for moveit -->
  <arg name="pipeline" default="ompl" /> <!-- Choose planning pipeline -->
  <arg name="joint_states" default="/gauss/joint_states" />

  <!-- The planning and execution components of MoveIt! configured to run -->
  <!-- Non-standard joint names:
       - Create a file [robot_moveit_config]/config/joint_names.yaml
           controller_joint_names: [joint_1, joint_2, ... joint_N]
       - Update with joint names for your robot (in order expected by rbt controller)
       - and uncomment the following line: -->
  <rosparam command="load" file="$(find gauss_moveit_config)/config/joint_names.yaml"/>

  <!-- load the robot_description parameter before launching ROS-I nodes -->
  <include file="$(find gauss_moveit_config)/launch/planning_context.launch" >
   <arg name="load_robot_description" value="true" />
  </include>

  <!-- publish the robot state (tf transforms) -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/gauss/joint_states" />
    <rosparam param="/source_list">[/gauss/joint_states]</rosparam>
  </node>
  
  <include file="$(find gauss_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
    <arg name="pipeline" value="$(arg pipeline)" />
    <arg name="joint_states" value="$(arg joint_states)" />
  </include>

  <include file="$(find gauss_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

</launch>
